@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.fundo-img {
    background-color: yellow;
    display: flex;
    height: 800px;
}

.about-container {
    width: 1100px;
    margin: 3rem auto;
    padding: 3rem;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}

.about-container a {
    text-decoration: none;
    color: red;
}

.about-container h1 {
    color: #650072;
    font-size: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    margin-top: 45px;
}

.about-container p {
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
}
